[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=CubiGrav
Icon=cubigrav
Terminal=false
Comment=A game about cubis and colors
Exec=/usr/bin/cubigrav
Categories=Game;
